.dexilion-features {
  padding: 216px 0 0 0;
  background-color: var(--bg-main-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.features-items-wrapper {
  padding: 119px 0 0 0;
  width: 100%;
  min-height: 750px;
  display: flex;
  align-items: initial;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-item {
  padding: 79px 25px 15px 25px;
  position: relative;
  width: 100%;
  max-width: 30%;
  min-height: 260px;
  border-radius: 5px;
  background: var(--key-futures-card);
  cursor: pointer;
}

.item-logo {
  width: 90px;
  height: 90px;
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
}

.features-item-text {
  text-align: center;
}

.item-title {
  font-size: 22px;
  line-height: 31px;
}

.item-descr {
  margin: 16px 0 0 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--description-second-color);
}
