.dexilion-features {
  padding: 103px 0 0 0;
  background: url('../../../img/key-features.bg.png') center center/cover
    no-repeat;
  background-color: var(--key-features-bg);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 1021px;
}

.features-items-wrapper {
  padding: 119px 0 0 0;
  width: 100%;
  min-height: 726px;
  display: flex;
  align-items: initial;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-item {
  padding: 79px 25px 15px 25px;
  position: relative;
  width: 100%;
  max-width: 30%;
  min-height: 260px;
  border-radius: 5px;
  background: linear-gradient(177.8deg, #3f3f3f 1.85%, #202020 105.95%);
}

.item-logo {
  position: relative;
  z-index: 1;
  width: 67px;
  height: 67px;
  position: absolute;
  top: -21px;
  left: 50%;
  transform: translateX(-50%);
}

.item-logo svg {
  position: absolute;
  top: 0;
  left: 0;
}

.item-logo .attractive-fees {
  top: 0;
  left: -8px;
}

.features-item-text {
  text-align: center;
}

.item-title {
  font-size: 22px;
  line-height: 31px;
}

.item-descr {
  margin: 16px 0 0 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--description-second-color);
}
