@media (max-width: 1255px) {
  .features-items-wrapper {
    justify-content: space-around;
  }

  .feature-item {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 576px) {
  .item-logo {
    display: none;
  }

  .features-items-wrapper {
    padding: 37px 0 0 0;
  }

  .feature-item {
    padding: 37px 25px 15px 25px;
    margin: 0 0 20px 0;
  }

  .feature-item:last-child {
    margin: 0;
  }

  .item-text {
    text-align: left;
  }
}
