.burger-menu {
  width: 20px;
  height: 20px;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.burger-item {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition: 0.5s all;
  opacity: 1;
  z-index: 0;
}

.burger-menu.active .burger-item:first-child {
  transform: translateY(8px) rotate(45deg);
}

.burger-menu.active .burger-item:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .burger-item:last-child {
  transform: translateY(-10px) rotate(-45deg);
}
