.main-title {
    font-family: 'BD Megatoya';
    font-size: 48px;
    font-weight: 700;
    color: var(--white-color);
    line-height: 57px;
}

.title {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: var(--white-color);
}


.subtitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    color: var(--white-color);
}

