@media (max-width: 1230px) {
  .subtitle {
    font-size: 25px;
    line-height: 30px;
  }
}

@media (max-width: 1100px) {
  .main-title {
    font-size: 35px;
    line-height: 48px;
  }

  .title {
    font-size: 30px;
  }
}

@media (max-width: 950px) {
  .subtitle {
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .main-title {
    font-size: 28px;
    line-height: 42px;
  }

  .title {
    font-size: 21px;
  }

  .title::before {
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    border: 2px solid #42e8e0;
    border-radius: 50%;
    opacity: 0.7;
    background: none;
  }

  .subtitle {
    font-family: 'Poppins';
    font-weight: 500;
  }
}

@media (max-width: 350px) {
  .subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
