@media (max-width: 1100px) {
  .main-title {
    font-size: 35px;
    line-height: 48px;
  }
}

@media (max-width: 576px) {
  .main-title {
    color: var(--mobile-title-color);
    font-size: 28px;
    line-height: 42px;
  }

  .title {
    font-size: 21px;
  }

  .title::before {
    transform: translateY(-39%);
  }

  .subtitle {
    color: var(--mobile-title-color);
  }
}
