@media (max-width: 1100px) {
  .main-title {
    font-size: 35px;
    line-height: 48px;
  }

  .title {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .dexilion-features {
    background: none;
  }
  .main-title {
    color: var(--mobile-title-color);
    font-size: 28px;
    line-height: 42px;
  }

  .title {
    font-size: 21px;
  }

  .title::before {
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    border: 2px solid #42e8e0;
    border-radius: 50%;
    opacity: 0.7;
    background: none;
  }

  .subtitle {
    color: var(--mobile-title-color);
  }
}
