/* keyFrames */
@keyframes down {
  from {
    transform: translateY(-110px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move {
  from {
    transform: translateY(0);
    transform: translatex(0);
  }

  50% {
    transform: translate(-10px, 10px);
  }
}

@media (max-width: 768px) {
  * {
    animation: none !important;
  }
}
