@media (max-width: 1700px) {
  .item-wrapper {
    max-width: 430px;
  }
}

@media (max-width: 1153px) {
  .roadmap-title::after {
    display: none;
  }

  .roadmap-content-wrapper::after {
    display: none;
  }

  .roadmap-decor-round {
    display: none;
  }

  .item-round {
    display: none;
  }

  .item-wrapper.right::after,
  .item-wrapper.left::after {
    display: none;
  }
  .item-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .roadmap-item {
    width: 100%;
    max-width: 423px;
    margin: 0 0 20px 0;
  }

  .roadmap-item.one {
    margin: 0;
  }

  .roadmap-item.left {
    margin: 0;
  }

  .item-wrapper.right {
    margin: 0;
  }

  .roadmap-item.last {
    margin: 0;
  }

  .roadmap-content-wrapper {
    padding: 60px 15px 0 15px;
    justify-content: space-between;
  }

  .roadmap-item.one {
    order: 1;
  }

  .roadmap-item.two {
    order: 0;
  }

  .roadmap-item.three {
    order: 3;
  }

  .roadmap-item.four {
    order: 2;
  }

  .roadmap-item.five {
    order: 5;
  }
  .roadmap-item.six {
    order: 4;
  }
  .roadmap-item.seven {
    order: 6;
  }
}

@media (max-width: 1020px) {
  .roadmap-item {
    max-width: 370px;
  }

  .item-text {
    padding: 0 15px 0 20px;
  }
}

@media (max-width: 992px) {
  .roadmap-content-wrapper {
    padding: 60px 0;
  }

  .item-wrapper {
    padding: 0 0 0 57px;
  }

  .roadmap-item {
    margin: 0 0 20px 0;
    max-width: 48%;
  }
}

@media (max-width: 800px) {
  .roadmap-content-wrapper {
    padding: 45px 0 0 0;
  }

  .dexilion-roadmap .roadmap-item {
    margin: 0 0 20px 0;
    width: 100%;
    max-width: 330px;
    min-height: 227px;
  }

  .item-icon svg {
    left: 25px;
  }

  .item-icon .mainnet-v1 {
    left: 12px;
  }
}

@media (max-width: 775px) {
  .roadmap-content-wrapper {
    justify-content: center;
  }

  .dexilion-roadmap .roadmap-item {
    max-width: 428px;
  }
}

@media (max-width: 576px) {
  .dexilion-roadmap {
    padding: 93px 0 62px 0;
  }

  .roadmap-content-wrapper {
    padding: 45px 0 0 0;
  }

  .item-wrapper {
    padding: 0 0 0 45px;
  }
}

@media (max-width: 351px) {
  .roadmap-item-title {
    font-size: 14px;
  }

  .roadmap-item-subtitle {
    margin: 12px 0 0 0;
    font-size: 18px;
    line-height: 20px;
  }

  .roadmap-title {
    max-width: 100%;
  }
}
