.roadmap-decor-round {
  position: absolute;
}

.round-1 {
  width: 27px;
  height: 29px;
  top: 423px;
  left: 200px;
}

.round-2 {
  width: 32px;
  height: 32px;
  top: 476px;
  left: 243px;
}

.round-3 {
  width: 18px;
  height: 18px;
  top: 463px;
  left: 320px;
}

.round-4 {
  width: 44px;
  height: 44px;
  top: 798px;
  left: 373px;
}

.round-5 {
  width: 18px;
  height: 19px;
  top: 849px;
  left: 457px;
}

.round-6 {
  width: 33px;
  height: 33px;
  top: 883px;
  left: 403px;
}

.round-7 {
  width: 21px;
  height: 21px;
  top: 1204px;
  left: 270px;
}

.round-8 {
  width: 32px;
  height: 32px;
  top: 1260px;
  left: 314px;
}

.round-9 {
  width: 27px;
  height: 27px;
  top: 1232px;
  left: 400px;
}

.round-10 {
  width: 18px;
  height: 18px;
  top: 255px;
  right: 134px;
}

.round-11 {
  width: 40px;
  height: 40px;
  top: 302px;
  right: 162px;
}

.round-12 {
  width: 21px;
  height: 21px;
  top: 308px;
  right: 250px;
}

.round-12 {
  width: 21px;
  height: 21px;
  top: 308px;
  right: 250px;
}

.round-13 {
  width: 25px;
  height: 25px;
  top: 349px;
  right: 281px;
}

.round-14 {
  width: 27px;
  height: 27px;
  top: 650px;
  right: 303px;
}

.round-15 {
  width: 20px;
  height: 20px;
  top: 693px;
  right: 257px;
}

.round-16 {
  width: 24px;
  height: 24px;
  top: 1038px;
  right: 220px;
}

.round-17 {
  width: 27px;
  height: 27px;
  top: 1061px;
  right: 301px;
}

.round-18 {
  width: 40px;
  height: 40px;
  top: 1105px;
  right: 249px;
}
