@media (max-width: 1310px) {
  .about-card {
    margin: 0 15px 0;
  }

  .about-card:last-child {
    margin: 0;
  }
}

@media (max-width: 1251px) {
  .about-card-logo {
    margin: 0 24px 24px 0;
  }
}

@media (max-width: 992px) {
  .about-dexilion {
    background-color: var(--bg-main-color);
  }

  .about-card-wrapper {
    flex-wrap: wrap;
  }

  .about-card {
    margin: 0 auto 20px auto;
  }
  .about-card:last-child {
    margin: 0 auto 0;
  }

  .about-card:hover {
    background-color: var(--bg-main-color);
    border-color: var(--border-color);
  }
}

@media (max-width: 576px) {
  .about-dexilion {
    padding: 100px 0 0 0;
  }

  .about-card-wrapper {
    margin: 44px 0 0 0;
  }

  .about-card {
    padding: 27px 20px;
  }
}

@media (max-width: 375px) {
  .about-card-logo {
    margin: 0 0 22px 0;
  }
}

@media (max-width: 350px) {
  .about-card-descr {
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 18px;
  }
}
