.about-dexilion {
  padding: 120px 0 0 0;
  background-color: var(--bg-secondary);
  min-height: 619px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about-dexilion-title {
  position: relative;
}

.about-card-wrapper {
  margin: 78px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: initial;
}

.about-card {
  width: 100%;
  max-width: 624px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  min-height: 252px;
  padding: 54px 40px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s all;
}

.about-card:hover {
  background: var(--card-bg-hover);
  border-color: var(--btn-color);
}

.about-card-logo {
  margin: 0 24px 0 0;
  width: 68px;
  height: 68px;
  background-color: #ccc;
}

.card-text {
  width: 100%;
  max-width: 413px;
}

.about-card-descr {
  margin: 16px 0 0 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--description-color);
  transition: 0.5s all;
}
