.about-dexilion {
  padding: 120px 0 0 0;
  background-color: var(--bg-main-color);
  min-height: 619px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about-card-wrapper {
  margin: 78px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: initial;
}

.about-card {
  width: 100%;
  max-width: 48%;
  display: flex;
  align-content: flex-start;
  min-height: 252px;
  padding: 29px 26px 31px 31px;
  border: 1px solid var(--border-color);
  background-color: var(--about-card-bg);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s all;
  overflow: hidden;
}

.about-card-title {
  font-size: 26px;
  line-height: 36px;
}

.about-card:hover {
  border-color: var(--btn-color);
}

.about-card-logo {
  margin: 0 24px 0 0;
  padding: 26px;
  width: 115px;
  height: 115px;
}

.card-text {
  width: 100%;
  max-width: 413px;
}

.about-card-descr {
  margin: 16px 0 0 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--description-color);
  transition: 0.5s all;
}
