.img-item {
  position: absolute;
  z-index: 100;
}

.img-item.one {
  left: 150px;
  top: 117px;
  width: 17px;
  height: 17px;
}

.img-item.two {
  width: 14px;
  height: 14px;
  left: 199px;
  top: 137px;
}

.img-item.three {
  top: 91px;
  left: 250px;
  width: 34px;
  height: 36px;
}

.img-item.four {
  width: 13px;
  height: 13px;
  top: 95px;
  right: 329px;
}

.img-item.five {
  width: 15px;
  height: 15px;
  top: 87px;
  left: 465px;
}

.img-item.six {
  width: 22px;
  height: 22px;
  top: 123px;
  left: 410px;
}

.img-item.seven {
  width: 20px;
  height: 20px;
  top: 122px;
  left: 504px;
}

.img-item.eight {
  width: 22px;
  height: 22px;
  top: 409px;
  left: 50px;
}

.img-item.nine {
  width: 31px;
  height: 31px;
  top: 435px;
  left: 133px;
}

.img-item.ten {
  width: 20px;
  height: 20px;
  top: 405px;
  left: 221px;
}

.img-item.eleven {
  width: 32px;
  height: 32px;
  top: 420px;
  left: 280px;
}

.img-item.twelve {
  width: 21px;
  height: 21px;
  top: 458px;
  left: 460px;
}
.img-item.thirteen {
  width: 40px;
  height: 40px;
  left: 497px;
  top: 415px;
}
.img-item.fourteen {
  width: 25px;
  height: 25px;
  left: 580px;
  top: 450px;
}
