.dexilion-hero {
  background-color: var(--bg-main-color);
  padding: 110px 0 0 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.dexilion-hero.canvas {
  position: relative;
  z-index: 1;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

#canvas:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(50px);
  background:
          radial-gradient(30% 60% ellipse at 73% 70%, #FF8A00 0%, rgba(0, 0, 0, 0) 50%),
          radial-gradient(30% 40% ellipse at 85% 54%, #646AEA 0%, rgba(100, 106, 234, 0) 60%),
          radial-gradient(20% 40% ellipse at 78% 28%, #42E8E0 0%, rgba(100, 106, 234, 0) 50%)
}

#canvas canvas {
  width: 100% !important;
  height: 100% !important;
}

.hero-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 60px 0 0 0;
}

.hero-title {
  width: 100%;
  max-width: 544px;
}

.hero-title-descr {
  margin: 19px 0 0 0;
  width: 100%;
  max-width: 432px;
  font-size: 20px;
  line-height: 30px;
  color: var(--description-color);
}

.hero-try {
  margin: 31px 0 0 0;
  width: 100%;
  max-width: 220px;
  min-height: 60px;
}

.hero-img {
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.hero-img-promo {
  transform: translateX(40px);
  width: 829px;
  height: 634px;
}

.img-mobile {
  display: none;
}
