@media (max-width: 1351px) {
  .hero-wrapper {
    background: url('../../../img/hero-bg.svg') right top/150% no-repeat;
  }
}

@media (max-width: 1116px) {
  .dexilion-hero {
    padding: 110px 0 57px 0;
  }

  .hero-img {
    width: 650px;
    padding: 0;
    order: 0;
  }

  .hero-img-promo {
    transform: none;
    z-index: 0;
  }

  .hero-wrapper {
    flex-wrap: wrap;
    min-height: unset;
  }

  .hero-text {
    padding: 0;
    order: 1;
    min-height: unset;
  }
}

@media (max-width: 992px) {
  .hero-wrapper {
    background: none;
  }

  .dexilion-hero {
    background: url("../../../img/hero-bg.svg")right top/cover no-repeat;
  }
}

@media (max-width: 576px) {
  .dexilion-hero {
    min-height: unset;
  }

  .dexilion-hero .container {
    padding: 0;
  }

  .img-item {
    display: none;
  }

  .hero-img {
    padding: 0;
  }

  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: inline;
  }

  .hero-img-promo {
    width: 100%;
    height: unset;
  }

  .hero-title {
    max-width: 490px;
  }

  .hero-title-descr {
    max-width: 400px;
  }

  .hero-text {
    margin: -56px 0 0 0;
    width: 100%;
    padding: 0 15px;
  }

  .hero-try {
    max-width: 100%;
    min-height: 54px;
  }

  .header-social.mobile {
    margin: 30px 0 0 0;
  }
}

@media (max-width: 376px) {
  .dexilion-hero {
    padding: 110px 0 57px 0;
    background: none;
  }

  .hero-text {
    justify-content: flex-start;
  }

  .hero-title-descr {
    font-size: 18px;
    line-height: 27px;
  }

  .hero-try {
    margin: 33px auto 0;
    max-width: 339px;
    min-height: 54px;
  }

  .text-block-title.mobile {
    max-width: 100%;
  }
}

@media (max-width: 340px) {
  .hero-img-promo {
    width: 340px;
  }
}
