.dexilion-hero {
  background-color: var(--bg-main-color);
  padding: 110px 0 0 0;
  display: flex;
  align-items: initial;
  min-height: 877px;
  overflow: hidden;
}

.hero-wrapper {
  background: url('../../../img/hero-section-bg.png') top right/contain
    no-repeat;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: initial;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  width: 100%;
  max-width: 544px;
}

.hero-title-descr {
  margin: 19px 0 0 0;
  width: 100%;
  max-width: 432px;
  font-size: 20px;
  line-height: 30px;
  color: var(--description-color);
}

.hero-try {
  margin: 31px 0 0 0;
  width: 100%;
  max-width: 254px;
  min-height: 73px;
}

.hero-img {
  padding: 100px 0 0 0;
  display: flex;
  align-items: flex-start;
}

.hero-img-promo {
  transform: translateX(80px);
  width: 729px;
  height: 632px;
  position: relative;
}

.img-mobile {
  display: none;
}
