@import './base/fonts.css';
@import './blocks/btns/btns.css';
@import './blocks/titles/titles.css';
@import './blocks/header/header.css';
@import './blocks/hero/hero.css';
@import './blocks/hero/hero-rounds.css';
@import './blocks/about-dexilion/about-dexilion.css';
@import './blocks/dexilion-features/dexilion-features.css';
@import './blocks/dexilion-how/dexilion-how.css';
@import './blocks/dexilion-roadmap/dexilion-roadmap.css';
@import './blocks/footer/footer.css';
@import './base/animations.css';
@import './blocks/burger/burger.css';
@import './responsive.css';

:root {
  --black-color: #000;
  --white-color: #fff;
  --bg-main-color: #393939;
  --bg-secondary: #494949;
  --card-bg-hover: #444444;
  --nav-link-color: #737373;
  --header-border: linear-gradient(90deg, #2c2c2c -0.99%, #262626 101.58%);
  --dex-demo-color: #111222;
  --btn-color: #02c9bf;
  --btn-text-color: #fff;
  --btn-hover-color: #fff;
  --btn-text-hover: #02c9bf;
  --description-color: #CECECE;
  --border-color: #686868;
  --description-second-color:#92939C;
  --mobile-title-color: #E9E9E9;
  --footer-bg: #424242;
  --copyright-color: #828392;
}

.container {
  width: 100%;
  max-width: 1311px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  background-color: var(--bg-main-color);
}
