.dexilion-how {
  min-height: 500px;
  overflow: hidden;
}

.dexilion-how.step-1 {
  padding: 118px 0 0 0;
}

.dexilion-how.step-4 {
  padding: 0 0 75px 0;
}

.dexilion-how-title {
  margin-bottom: 75px;
}

.dexilion-how.reversed .content-text-block {
  padding: 156px 124px 0 0;
  order: 0;
}

.dexilion-how.reversed .content-image-block {
  order: 1;
}

.content-wrapper {
  display: flex;
  align-items: flex-start;
}

.content-image-block {
  width: 50%;
  min-width: 640px;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.content-image img {
  object-fit: cover;
}

.content-text-block {
  padding: 169px 0 0 124px;
  width: 50%;
}

.text-block-links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.text-block-link {
  margin: 0 20px 0 0;
  width: 40px;
  height: 40px;
  display: block;
}

.text-block-link:last-child {
  margin: 0;
}

.text-block-step {
  display: block;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  font-size: 16px;
  color: var(--btn-color);
  font-family: 'BD Megatoya';
}

.text-block-title {
  margin: 20px 0 0 0;
  color: var(--white-color);
  font-weight: 700;
  font-family: 'BD Megatoya';
  font-size: 32px;
  max-width: 500px;
}

.text-block-descr {
  margin: 16px 0 0 0;
  max-width: 357px;
  line-height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: var(--description-second-color);
}

.text-block-links {
  margin: 43px 0 0 0;
}

.connect-wallet-wrapper {
  width: 100%;
  max-width: 552px;
  min-height: 347px;
}

.connect-wallet-img {
  position: relative;
  max-width: 476px;
  height: 302px;
}

.connect-sub-img {
  max-width: 391px;
  height: 200px;
  position: absolute;
  top: 146px;
  right: -75px;
}

.deposit-wrapper {
  width: 100%;
  max-width: 489px;
  min-height: 347px;
}

.deposit-img {
  position: relative;
  width: 313px;
  height: 347px;
  z-index: 1;
}

.deposit-sub-img {
  width: 259px;
  height: 287px;
  position: absolute;
  top: 35px;
  right: -175px;
  z-index: -1;
}

.derivatives-wrapper {
  width: 100%;
  max-width: 516px;
  min-height: 370px;
}

.derivatives-img {
  position: relative;
  width: 490px;
  height: 308px;
}

.derivatives-sub-img {
  position: absolute;
  width: 183px;
  height: 317px;
  top: 49px;
  right: -25px;
}

.position-img {
  width: 493px;
  height: 372px;
}

.connect-wallet-mobile,
.connect-sub-mobile,
.deposit-mobile,
.deposit-sub-mobile,
.derivatives-mobile,
.derivatives-sub-mobile,
.position-mobile {
  display: none;
}

.text-block-step.mobile {
  display: none;
}

.text-block-title.mobile {
  display: none;
}

.content-text-block.mobile {
  display: none;
}
