.dexilion-how {
  padding: 120px 0 0 0;
  background-color: var(--bg-main-color);
  display: flex;
  justify-content: center;
  align-items: center;

}


.dexilion-how-title {
  position: relative;
  display: inline-block;
  animation-duration: .7s;
}


.dexilion-steps-wrapper {
  margin: 80px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.dexilion-how.step-2 .dexilion-steps-wrapper,
.dexilion-how.step-3 .dexilion-steps-wrapper,
.dexilion-how.step-4 .dexilion-steps-wrapper {
  margin: 0;
}

.dexilion-step-item {
  width: 100%;
  display: flex;
}

.step-image-wrapper {
  width: 50%;
}

.step-image-general {
  position: relative;
  cursor: pointer;
  transition: 0.5s all;
  animation-delay: .5s;
  animation-duration: 1s;
}

.step-image-general img {
  max-width: 100%;
}

.step-sub-img {
  position: absolute;
  cursor: pointer;
  animation-delay: .6s;
  animation-duration: .8s; 
}

.step-sub-img img {
  max-width: 100%;
}

.step-text-wrapper {
  width: 50%;
  padding: 55px 0 0 160px;
  animation-delay: .7s;
  animation-duration: .8s;
}

.step-title {
  margin: 20px 0 0 0;
}

.step-counter {
  font-size: 16px;
  font-weight: 700;
  color: var(--btn-color);
}

.step-descr {
  margin: 24px 0 0 0;
  max-width: 400px;
  color: var(--main-gray-color);
  font-size: 20px;
  line-height: 30px;
}

.step-icons {
  margin: 24px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.step-icon {
  width: 40px;
  margin: 0 26px 0 0;
  cursor: pointer;
}

.step-icon-link {
  display: block;
  text-decoration: none;
}

.step-icon:last-child {
  margin: 0;
}

.step-icon img {
  max-width: 100%;
}

.reversed .step-image-wrapper {
  order: 2;
}

.reversed .step-title {
  margin: 24px 0 0 0;
}

.step-image-general.connect-wallet {
  max-width: 590px;
}

.step-sub-img.connect-wallet {
  max-width: 441px;
  bottom: -35px;
  right: -40px;
}

.step-image-general.deposit-funds {
  max-width: 392px;
  z-index: 1;
}

.step-sub-img.deposit-funds {
  max-width: 322px;
  top: 40px;
  right: -236px;
  z-index: -1;
}

.step-image-general.sell-derivatives {
  max-width: 590px;
}

.step-sub-img.sell-derivatives {
  max-width: 219px;
  right: -40px;
  top: 40px;
}

.step-image-general.track-position {
  max-width: 630px;
}

.dexilion-mobile-titles {
  display: none;
}
