@media (max-width: 1200px) {
  .header-nav-wrapper {
    width: 100%;
  }
  .header-nav {
    width: 100%;
    justify-content: center;
  }
  .header-nav-list {
    justify-content: space-between;
  }
  .nav-list-item {
    margin: 0 20px 0 0;
  }

  .demo-btn {
    margin: 0;
  }
}

@media (max-width: 992px) {
  .header-nav-wrapper {
    background-color: var(--bg-main-color);
    width: 50%;
    padding: 106px 16px 35px 16px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 1;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    transition: 0.5s all;
  }

  .header-nav-wrapper.active {
    right: 0;
  }
  .header-nav {
    flex-direction: column;
  }
  .header-nav-list {
    flex-direction: column;
  }

  .nav-list-item {
    margin: 0;
    text-align: center;
    position: relative;
    z-index: 0;
  }

  .nav-list-link {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    font-size: 20px;
    padding: 25px 0;
    z-index: 5;
    transition: none;
  }

  .nav-list-link::after {
    bottom: 0;
  }

  .header-social {
    margin: 75px 0 0 0;
    display: flex;
    justify-content: center;
  }

  .header-social-link {
    display: block;
    width: 30px;
    margin: 0 22px 0 0;
  }

  .header-social-link:active svg path {
    fill: var(--btn-color);
    transition: 0.5s all;
  }

  .header-social-link:last-child {
    margin: 0;
  }

  .header-sicial-link svg {
    max-width: 100%;
  }

  .demo-btn {
    width: 100%;
    margin: 33px 0 0 0;
  }

  .demo {
    width: 100%;
    outline: none;
  }

  .burger-menu {
    cursor: pointer;
    display: flex;
  }
}
@media (max-width: 768px) {
  .header {
    animation: none;
  }
}
@media (max-width: 576px) {
  .header-nav-wrapper {
    width: 100%;
  }
}
