.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  min-height: 109px;
  padding: 34px 0 13px 0;
  background-color: var(--bg-main-color);
  display: flex;
  align-items: center;
  transition: 0.8s all;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(90deg, #2C2C2C -0.99%, #262626 101.58%);
  border-image-slice: 1;
  animation: down ease-in .5s;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 100%;
  max-width: 208px;
  max-height: 61px;
}

.header-logo-link {
  display: block;
  text-decoration: none;
  line-height: 0;
}

.header-logo img {
  max-width: 100%;
  max-height: 100%;
}

.header-nav-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
}

.header-nav-list {
  display: flex;
}

.nav-list-item {
  margin: 0 28px 0 0;
}

.nav-list-item:last-child {
  margin: 0;
}

.nav-list-link {
  display: block;
  position: relative;
  text-decoration: none;
  color: var(--nav-link-color);
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  transition: 0.5s all;
  width: 100%;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-list-link:hover {
  color: var(--white-color);
}

.nav-list-link:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -32px;
  z-index: 3;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: 0.5s all;
}

.nav-list-link:hover::after {
  background-color: var(--white-color);
}

.header-social {
  display: none;
}

.demo-btn {
  width: 100%;
  max-width: 192px;
  min-height: 48px;
  margin: 0 0 0 29px;
}
