@media (max-width: 1200px) {
  .header-nav-wrapper {
    width: 100%;
  }
  .header-nav {
    width: 100%;
    justify-content: center;
  }
  .header-nav-list {
    justify-content: space-between;
  }
  .nav-list-item {
    margin: 0 20px 0 0;
  }

  .demo-btn {
    margin: 0 0 0 10px;
  }
}

@media (max-width: 1100px) {
  .header::after {
    display: none;
  }

  .header-nav-wrapper {
    background-color: var(--bg-main-color);
    width: 50%;
    padding: 106px 16px 35px 16px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    transition: 0.5s all;
  }

  .header-nav-wrapper.active {
    right: 0;
  }
  .header-nav {
    flex-direction: column;
    justify-content: initial;
    height: 100%;
    align-items: center;
  }
  .header-nav-list {
    flex-direction: column;
  }

  .nav-list-link {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    padding: 25px 0;
  }

  .nav-list-link::after {
    display: none;
  }

  .nav-list-item {
    margin: 0;
    text-align: center;
  }

  .header-social {
    margin: 75px 0 0 0;
    display: flex;
    justify-content: center;
  }

  .header-social-link {
    display: block;
    width: 30px;
    margin: 0 22px 0 0;
  }

  .nav-list-link:hover {
    overflow: unset;
    color: var(--nav-link-color);
  }

  .nav-list-link:active {
    overflow: unset;
    text-decoration: underline;
    color: var(--white-color);
  }

  .nav-list-link:hover::after {
    background-color: transparent;
  }

  .nav-list-link:active:after {
    background-color: var(--white-color);
  }

  .header-social-link:active svg path {
    fill: var(--btn-color);
    transition: 0.5s all;
  }

  .header-social-link:last-child {
    margin: 0;
  }

  .header-sicial-link svg {
    max-width: 100%;
  }

  .burger-menu {
    cursor: pointer;
    display: flex;
  }

  .demo-btn {
    max-width: 100%;
    margin: auto 0 0;
  }
}

@media (max-width: 1000px) {
  .nav-list-item {
    margin: 0 10px 0 0;
  }
}

@media (max-width: 768px) {
  .header {
    animation: none;
  }
}
@media (max-width: 576px) {
  .header-nav-wrapper {
    width: 100%;
  }
}
